.wellPlate {
  display: grid;
  gap: 5px;
}

.well {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #f0f0f0; /* Light grey background */
  transition: background-color 0.3s;
}

.wellNameOverlay {
  position: absolute;
  top: -35px; /* Adjust this value as needed */
  left: 10px; /* Adjust this value as needed */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.well.selected {
  background-color: #b0c4de; /* Change to a different color when selected */
}

.imageViewer img {
  max-width: 100%;
  height: auto;
}

.selected {
  background-color: #f0f0f0;
}

.canvasContainer {
  position: relative;
}

.modalImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.wellNameOverlay {
  position: absolute;
  top: -10px; /* Adjust this value as needed */
  left: 10px; /* Adjust this value as needed */
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 40px;
  max-width: 100vw; /* Adjusted to fit better within the viewport */
  max-height: 100vh; /* Adjusted to fit better within the viewport */
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure the modal is above other elements */
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out; /* Smooth transition */
}

.canvasOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.modalContent {
  text-align: center;
  position: relative;
}

.modalImage {
  width: 100%;
  height: auto;
  max-height: 90vh; /* Adjusted to ensure it fits within the modal */
  max-width: 100%;
}

.downloadButton {
  position: absolute;
  top: 10px;
  left: 350px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Less contrast */
  z-index: 999; /* Ensure the overlay is below the modal but above other elements */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}
.arrowButton {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px; /* Changed from 50% to 5px for a more modern look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.arrowButton:hover {
  background-color: rgba(200, 200, 200, 0.8); /* Change color on hover */
  transform: scale(1.1); /* Slightly enlarge on hover */
}

.arrowButton.left {
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}

.arrowButton.right {
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
}

.arrowButton.up {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.arrowButton.down {
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.arrowIcon {
  font-size: 24px; /* Adjust icon size */
  color: #333;
}

.addButton {
  margin-top: 10px;
}

.drawButton {
  margin-top: 10px;
  margin-left: 10px;
}
