grpcio-tools==1.51.1
pydantic==1.10.7
sqlalchemy==1.4.48
sqlalchemy-stubs==0.4
pythonnet==3.0.1
requests==2.29.0 
types-requests==2.28.11.17
ruff==0.0.256
mypy==1.1.1
mypy-protobuf==3.4.0
types-protobuf==4.22.0.0
types_pywin32==305.0.0.11
types_pyserial==3.5.0.7
grpc-stubs==1.24.12.1
networkx==3.1
networkx-stubs==0.0.1
types-setuptools==68.0.0.2
types-PyYAML==6.0.12.11
PyYAML==6.0.1
slackclient==2.9.4
python-dotenv==1.0.0
pytest # this could be optional?
msl-loadlib==0.10.0
pywin32==304
msl-loadlib==0.10.0