name: Publish Docker Images

on:
    workflow_dispatch:

jobs:
  build-and-publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    permissions:
        contents: read
        packages: write
        actions: write 
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and push galago-web
        uses: docker/build-push-action@v4
        with:
          context: .
          file: controller/Dockerfile
          push: true
          tags: ghcr.io/sciencecorp/galago-web:latest

    #   - name: Build and push galago-db
    #     uses: docker/build-push-action@v4
    #     with:
    #       context: ./db
    #       file: Dockerfile
    #       push: true
    #       tags: ghcr.io/sciencecorp/galago-db:latest
